
.main{
    font-family: 'JetBrains', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #F2F2F3;
  display:flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 12px;
  width:630px;
  
}
.header
{
  font-size: 30px;
  margin-top: 40px;
}
.item:choosed{
  color: white;
}
.menu {
      display: flex;
      gap: 0px;
      flex-direction: row;
      width: 610px;
      height: 56px;
      position: fixed;
      justify-items: center;
      align-content: center;
    }
    .item {
        color: #8585AD;
        width: 200px;
        font-family: 'JetBrains', Arial, sans-serif;
    text-align: center;
    
    font-size: 16px;
    border-bottom: 3px solid transparent; 
  }  
  .item:hover{
    border-bottom: 3px solid blue; 
    color:white;
    }
    .item .active {
      border-bottom: 3px solid red;
  }
  .navTab
{
  height: 28px;
  padding: 0px 0px 40px;

}
.section{
  display:flex;
  gap: 24px;
  flex-direction: row;
  width:590px;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: start;
}
.section h1{
  font-size: 24px;
  width:610px;
  align-content: center;
}
  
  .product{
    display: flex;
    flex-direction: column;
    width: 272px;
    height: 208px;
  }
  .img{
    height: 120px;
    width: 220px;
    justify-content: center;
  }
  .price{
    display:flex;
    gap: 9px;
    flex-direction: row;
    justify-content: center;
    width: 240px;
    font-size: 28px;
    margin-right: 9px;
  }
  .name{
    display: block;
    height: 48px;
    width: 220px;
    font-size: 16px;
    justify-content: center;
    align-content: center;
    text-align: center;

  }

.counter{
  position: relative;
}
.main ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: auto;
  height: 912px;
  width: 610px;
  list-style-type: none;

}
.overlay{
  position:absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: white;
  transition: 0.5s all;
  pointer-events: none; /* Запрещаем ему быть целью событий*/
}
.overlay button{
  pointer-events: all; /* Возвращаем события*/
}


.details { /* При добавлении класса 'active'*/
  position: absolute;
  display: flex;
  top:50%;
  left:50%;
  margin-left: -360px;
  margin-top: -269px;
  flex-direction: column;
  font-family: 'JetBrains', Arial, sans-serif;
  height: 539px;
  width: 720px;
  pointer-events: none;
  border-radius: 40px;
  background-color:  #1C1C21;
  align-items: center;
}
.details h1{
  font-size: 36px;
  padding-left: 40px;
  align-self: flex-start;
}
.name2{
  position: relative;
  width: 530px;
  font-size: 24px;
  text-align: center;
  align-self: center;
}
.img2{
  height: 240px;
  width: 480px;
  justify-content: center;
}
.energy{
  display: flex;
  gap:20px;
  list-style-type: none;
}
.energy li{
  width: 112px;
}
.energy h2{
  font-size: 16px;
}
.energy p{
  font-size: 28px;
}
@media (max-width: 1000px) {
  .main {
    width: 80%;
  }
}