.container {
  position: relative;
  height: 88px;
  width: 96%;
  top:40px;
  left:2%;
  background: #1C1C21;
}
.nav_panel{
  display:flex;
  position: relative;
  height: 56px;
  left: 17%;
  width:66%;
  top: calc(50% - 56px/2);
  font-family: 'JetBrains', Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.item {
  height: 56px;
  border-radius: 10px;
  width: 197px;
  display: flex;
  align-items: center;
  gap: 8px;
  
}

.item h3{
  white-space: nowrap;
}
.item:disabled{
  color:#8585AD;
}
