.main{
  position: relative;  
  font-family: 'JetBrains', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #F2F2F3;
  display:flex;
  align-content: flex-start;
  flex-direction: column;
  font-size: 12px;
  width:610px;
  margin-top: 200px;
}
.main ul{
  height: 912px;
  overflow: auto;
  list-style-type: none;
}
.but{
  width:25px;
  height: 64px;
  position: relative;
  margin-left: 20%;
}
.bottom{
  display:flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  gap:40px;
}
.price{
  font-size: 48px;
}
.list
{ 
  display: flex;
  justify-content:right;
  align-items: center;
  margin-bottom: 16px;

  } 
  .overlay{
    position:absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: white;
    transition: 0.5s all;
    pointer-events: none; /* Запрещаем ему быть целью событий*/
  }
  .overlay Button{
    position: relative;
    pointer-events: all; /* Возвращаем события*/
    align-content: flex-end;
    right:-300px;
  }
  .details { /* При добавлении класса 'active'*/
    position: absolute;
    display: flex;
    top:50%;
    left:50%;
    margin-left: -360px;
    margin-top: -269px;
    flex-direction: column;
    font-family: 'JetBrains', Arial, sans-serif;
    height: 539px;
    width: 720px;
    background-color:  #1C1C21;
    pointer-events: none;
    align-items: center;
    border-radius: 40px;
  }
  