@import '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css'; 


@font-face {
  font-family: 'JetBrains';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/JetBrainsMono-Bold.woff2") format("woff2");
}
@font-face {
  font-family: 'JetBrains';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

